
/* import google font... poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;  
}



.header-section nav {
    background-color: #daac00;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-section nav a .header-logo {
    max-width: 150px;
}
.header-section nav li a.nav-link{
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}
.header-section nav form {
    box-shadow: 5px 8px 12px rgba(0,0,0,0.1);
}


.header-section nav form input {
    border-radius: 0;
    padding: 5px;
    background-color: #fcc302;
    border: none;
}




.header-section nav form input::placeholder{
    color: white;
    font-size: .9em;
}

.header-section nav form button {
    border-radius: 0;
    background-color: #00bec9;
    padding: 5px 20px; 
    border: none;
    color: white;
}


.header-section nav form input:focus,
.header-section nav form button:focus {
    box-shadow: none;
}
.header-section .hero-area {
    background-color: #fcc302;
    padding: 110px 0;
}
.header-section .hero-area .hero-area-contents .main-title {
    color: white;
    font-weight: 600;
    font-size: 4.5em;
}

.header-section .hero-area .hero-area-contents p {
    color: white;
}
.header-section .hero-area .hero-area-contents .button-group a{
    font-size: 0.9em;
}

@media (max-width: 767px) {
    .header-section .hero-area .hero-area-contents .main-title {
    font-size: 3.5em;
    } 
    .header-section .hero-area .hero-area-contents p {
        font-size: 0.9em;
    }
    .header-section .hero-area .hero-area-contents .button-group a{
        font-size: 0.8em;
    } 
}

/* service section css code start*/
.section-padding {
    padding: 80px 0;
}
.service-area .service-contents .section-title {
    font-weight: 600;
    font-size: 2em;
}
.service-area .service-contents .section-desc {
    font-size: 1,1em;
}

.service-area .service-contents .btn {
    background-color: #fcc302;
    color: white;
    font-size: 0.9em;
}



.service-img-box {
    position: relative;
}
.service-img-box::before {
    position: absolute;
    content: '' ;
    width: 200px;
    height: 200px;
    background-color: #fcc302;
    bottom: -25px;
    right: 225px;
    z-index: -5;
}


.service-area .service-img-box .service-img {
    position: relative;
    background: linear-gradient(to left, rgba(254,196,0,0.3),rgba(254,196,0,0.6)),url(./assets/img/dog2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin-left: auto;
    z-index: 200;
}




.service-area .service-img i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #fcc302;
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 5px;
    padding-left: 12px;
    border-radius: 50%;
    cursor: pointer;


}

/* service section css code end*/



/* Our services area start*/

.our-services {
    background-color: #fcc302;
}
.our-services .title-area h2 {
    color: white;
    font-size: 4em;
    font-weight: 600;
}
.our-services .title-area p {
    color: white;
}


.our-services .service-items-area .service-item {
    text-align: center;
}



.our-services .service-items-area .service-item img {
 background-color: white;
 padding: 5px;
 margin-bottom: 30px;
}

.our-services .service-items-area .service-item h3 {
    color: white;
}

.our-services .service-items-area .service-item p {
    color: white;
    width: 90%;
    margin: auto;
    font-size:1.em;
}

/* Our services area end*/

/*left service section css code start*/
.section-padding {
    padding: 80px 0;
}
.left-service-area .service-contents .section-title {
    font-weight: 600;
    font-size: 2em;
}
.left-service-area .service-contents .section-desc {
    font-size: 1,1em;
}

.left-service-area .service-contents .btn {
    background-color: #fcc302;
    color: white;
    font-size: 0.9em;
}



.left-service-area .service-img-box {
    position: relative;
}
.left-service-area .service-img-box::before {
    position: absolute;
    content: '' ;
    width: 200px;
    height: 200px;
    background-color: #fcc302;
    bottom: -25px;
    left: 225px;
    z-index: -5;
}


.left-service-area .service-img-box .service-img {
    position: relative;
    background: linear-gradient(to left, rgba(254,196,0,0.3),rgba(254,196,0,0.6)),url(./assets/img/dog3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    z-index: 200;
}




.left-service-area .service-img i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #fcc302;
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 5px;
    padding-left: 12px;
    border-radius: 50%;
    cursor: pointer;


}

/* left service section css code end*/


/* Our products area start*/

.our-products {
    background-color: #fcc302;
}
.our-products .title-area h2 {
    color: white;
    font-size: 4em;
    font-weight: 600;
}
.our-products .title-area p {
    color: white;
}


.our-products .product-items-area .product-item {
    text-align: center;
}



.our-products .product-items-area .product-item  img {
 background-color: white;
 padding: 5px;
 margin-bottom: 30px;
}

.our-products .product-items-area .product-item  h3 {
    color: white;

}
.our-products .product-items-area .product-item a {
    color: white;

    width: 50%;
    margin: auto;
    font-size:1.5em;
    font-weight: 600;
    border-radius: 50px;
}

/* Our products area end*/



/* Our team area start*/

.our-team {
    background-color: #f7f7f7
}
.our-team .title-area h2 {
    font-size: 4em;
    font-weight: 600;
}



.our-team .team-area .team-item img {
 margin-bottom: 30px;
}

.our-team .team-area .team-item h3 {
   font-size: 2em;
   font-weight: 600; 
}

.our-team .team-area .team-item p {
    font-size:1.em;
}

.our-team .team-area .team-item ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    
    

}

.our-team .team-area .team-item ul li a i {
    background-color: #fcc302;
    color: white;
    font-size: 16px;
    height: 32px;
    width: 32px;
    padding: 8px;
    border-radius: 50%;
    
}

/* Our team area end*/