
/* import google font... poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;  
}



.header-section nav {
    background-color: #daac00;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-section nav a .header-logo {
    max-width: 150px;
}
.header-section nav li a.nav-link{
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}
.header-section nav form {
    box-shadow: 5px 8px 12px rgba(0,0,0,0.1);
}


.header-section nav form input {
    border-radius: 0;
    padding: 5px;
    background-color: #fcc302;
    border: none;
}




.header-section nav form input::placeholder{
    color: white;
    font-size: .9em;
}

.header-section nav form button {
    border-radius: 0;
    background-color: #00bec9;
    padding: 5px 20px; 
    border: none;
    color: white;
}


.header-section nav form input:focus,
.header-section nav form button:focus {
    box-shadow: none;
}
.header-section .hero-area {
    background-color: #fcc302;
    padding: 110px 0;
}
.header-section .hero-area .hero-area-contents .main-title {
    color: white;
    font-weight: 600;
    font-size: 4.5em;
}

.header-section .hero-area .hero-area-contents p {
    color: white;
}
.header-section .hero-area .hero-area-contents .button-group a{
    font-size: 0.9em;
}

@media (max-width: 767px) {
    .header-section .hero-area .hero-area-contents .main-title {
    font-size: 3.5em;
    } 
    .header-section .hero-area .hero-area-contents p {
        font-size: 0.9em;
    }
    .header-section .hero-area .hero-area-contents .button-group a{
        font-size: 0.8em;
    } 
}

/* service section css code start*/
.section-padding {
    padding: 80px 0;
}
.service-area .service-contents .section-title {
    font-weight: 600;
    font-size: 2em;
}
.service-area .service-contents .section-desc {
    font-size: 1,1em;
}

.service-area .service-contents .btn {
    background-color: #fcc302;
    color: white;
    font-size: 0.9em;
}



.service-img-box {
    position: relative;
}
.service-img-box::before {
    position: absolute;
    content: '' ;
    width: 200px;
    height: 200px;
    background-color: #fcc302;
    bottom: -25px;
    right: 225px;
    z-index: -5;
}


.service-area .service-img-box .service-img {
    position: relative;
    background: linear-gradient(to left, rgba(254,196,0,0.3),rgba(254,196,0,0.6)),url(./assets/img/dog2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin-left: auto;
    z-index: 200;
}




.service-area .service-img i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #fcc302;
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 5px;
    padding-left: 12px;
    border-radius: 50%;
    cursor: pointer;


}



/* service section css code end*/

